#player-list {
    list-style: none;
    padding: 0;
    color: white;
}
#player-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: gray;
    display: flex;
}

.player-name {
    line-height: 30px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-info {
    flex-shrink: 0;
    display: flex;
}

#player-list .player-mrx {
    background-color: black;
}

#player-list .player-admin {
    background-color: darkkhaki;
}

.player-delete {
    display: none;
}

#player-list.player-list-admin .player-delete {
    display: block;
}

.player-group,
.player-x,
.player-delete {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
}

.err-el {
    opacity: 0;
    background-color: #DE4C4C;
}

.err-el.show-err {
    opacity: 1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}