.err-el {
    opacity: 0;
    background-color: #DE4C4C;
}

.err-el.show-err {
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}


.player-list {
    list-style: none;
    padding: 0;
    color: white;
}
.player-self,
.player-list li {
    padding: 10px;
    margin: 0 0 1px 0;
    background-color: #707070;
    display: flex;
    align-items: center;
}

.player-self .player-name,
.player-list .player-name {
    padding: 5px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #707070;
    flex-grow: 1;
}

.player-self .player-info,
.player-list .player-info {
    flex-shrink: 0;
    display: flex;
}

.player-self.player-is-admin,
.player-list .player-is-admin {
    background-image: repeating-linear-gradient(-45deg, #707070, #707070 10px, #CCCC00 10px, #CCCC00 20px);
}
.player-self.player-is-mrx,
.player-list .player-is-mrx {
    background-image: repeating-linear-gradient(-45deg, black, black 10px, #707070 10px, #707070 20px);
}
.player-self.player-is-mrx.player-is-admin,
.player-list .player-is-mrx.player-is-admin {
    background-image: repeating-linear-gradient(-45deg, black, black 10px, #CCCC00 10px, #CCCC00 20px);
}

.player-self .player-info > div,
.player-self .player-info > button,
.player-list .player-info > div,
.player-list .player-info > button {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    border: none;
}
.player-list:not(.player-admin-list) .player-delete {
    display: none;
}

.player-self .player-group:before {
    content: "";
    width: 0;
    height: 0;
    border: 3px solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.player-group[data-group="0"] {
    background-color: #707070;
}
.player-group[data-group="1"] {
    background-color: red;
}
.player-group[data-group="2"] {
    background-color: green;
}
.player-group[data-group="3"] {
    background-color: blue;
}
.player-group[data-group="4"] {
    background-color: cyan;
    color: black;
}
.player-group[data-group="5"] {
    background-color: magenta;
    color: black;
}
.player-group[data-group="6"] {
    background-color: yellow;
    color: black;
}




#popup-select-group ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#popup-select-group li button {
    margin: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
#popup-select-group li:last-child button {
    border-width: 0;
}


#page-map,
#map-container,
#map-container > div {
    height: 100%;
}